@media (max-width: 740px) {

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 3px 41px;
    }

    #nav > li {
        display: block;
        height: auto;
    }

    #header {
        overflow: hidden;
    }

    #nav >li:first-child {
        display: inline-block;
    }

    #header .search-icon {
        display: none;
    }

    #header .header-bar {
        display: block;
    }

    #slider .text-content {
        display: none;
    }

    #content .col-mobile {
        width: 100%;
    }

    #content .member-item {
        margin-top: 15px;
        text-align: center;
    }

    
    .contact-info {
        margin-bottom: 16px;
    }

    .input-line1 {
        margin: 0 -8px 0 -16px;
    }

    .text-item {
        padding-right: 0;
        margin-bottom: 8px;
    }

@media (min-width: 741px) {

}
